<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>count</key>
		<integer>2000</integer>
		<key>maxid</key>
		<string>1519259282</string>
		<key>maxtime</key>
		<string>1519259282</string>
		<key>page</key>
		<integer>100</integer>
		<key>vendor</key>
		<string>six.jie.c</string>
	</dict>
	<key>list</key>
	<array>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>11</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>22</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d1b259cbc8.gif</string>
			<key>comment</key>
			<string>23</string>
			<key>create_time</key>
			<string>2018-02-21 15:09:25</string>
			<key>created_at</key>
			<string>2018-02-22 15:50:01</string>
			<key>ding</key>
			<string>183</string>
			<key>favourite</key>
			<string>11</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d1b259cbc8_a_1.jpg</string>
			<key>hate</key>
			<string>22</string>
			<key>height</key>
			<string>195</string>
			<key>id</key>
			<string>27252427</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d1b259cbc8.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d1b259cbc8.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d1b259cbc8.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>183</string>
			<key>name</key>
			<string>搞笑内涵侠</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 15:50:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/03/01/58b6ed2126d85_mini.jpg</string>
			<key>repost</key>
			<string>7</string>
			<key>screen_name</key>
			<string>搞笑内涵侠</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519285801</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>这个老人真是伟大，每月的退休金要拿出一部分做公益，以后我老了我也要像他一样优秀！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>19064947</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.zk111.com.cn/share/27252427.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>166</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>5</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>23</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8cce47aee01_1.jpg</string>
			<key>comment</key>
			<string>23</string>
			<key>create_time</key>
			<string>2018-02-21 09:41:27</string>
			<key>created_at</key>
			<string>2018-02-22 15:24:01</string>
			<key>ding</key>
			<string>113</string>
			<key>favourite</key>
			<string>5</string>
			<key>hate</key>
			<string>23</string>
			<key>height</key>
			<string>2304</string>
			<key>id</key>
			<string>27251799</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8cce47aee01_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8cce47aee01_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8cce47aee01_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>113</string>
			<key>name</key>
			<string>大行小言</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 15:24:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/10/27/59f3571e12c4d_mini.jpg</string>
			<key>repost</key>
			<string>4</string>
			<key>screen_name</key>
			<string>大行小言</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519284241</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>喵陪着大师坐禅，坚持没一会就……</string>
			<key>theme_id</key>
			<string>58240</string>
			<key>theme_name</key>
			<string>搞笑图片</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>13297575</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.winapp111.net/share/27251799.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>864</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>10</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>29</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8e26170793a.gif</string>
			<key>comment</key>
			<string>81</string>
			<key>create_time</key>
			<string>2018-02-22 10:08:23</string>
			<key>created_at</key>
			<string>2018-02-22 14:58:02</string>
			<key>ding</key>
			<string>231</string>
			<key>favourite</key>
			<string>10</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8e26170793a_a_1.jpg</string>
			<key>hate</key>
			<string>29</string>
			<key>height</key>
			<string>309</string>
			<key>id</key>
			<string>27254350</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8e26170793a.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8e26170793a.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8e26170793a.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>231</string>
			<key>name</key>
			<string>夏小檬</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 14:58:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/10/09/59db2392b3321_mini.jpg</string>
			<key>repost</key>
			<string>9</string>
			<key>screen_name</key>
			<string>夏小檬</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519282682</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>主持人该怎么缓解这个尴尬啊？</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>19268252</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.winapp111.net/share/27254350.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>222</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>13</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>42</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8da8be63d76_1.jpg</string>
			<key>comment</key>
			<string>38</string>
			<key>create_time</key>
			<string>2018-02-22 01:13:34</string>
			<key>created_at</key>
			<string>2018-02-22 14:32:01</string>
			<key>ding</key>
			<string>598</string>
			<key>favourite</key>
			<string>13</string>
			<key>hate</key>
			<string>42</string>
			<key>height</key>
			<string>1600</string>
			<key>id</key>
			<string>27253863</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8da8be63d76_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8da8be63d76_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8da8be63d76_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>598</string>
			<key>name</key>
			<string>      ★   ❤</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 14:32:01</string>
			<key>profile_image</key>
			<string>http://qzapp.qlogo.cn/qzapp/100336987/EFB84BC4D4DCA6EBE39C522F4C1A7C47/100</string>
			<key>repost</key>
			<string>8</string>
			<key>screen_name</key>
			<string>      ★   ❤</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519281121</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>诚实的韩国人，应该算神话了。</string>
			<key>theme_id</key>
			<string>58240</string>
			<key>theme_name</key>
			<string>搞笑图片</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>14254577</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.winapp111.com/share/27253863.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>1280</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>24</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>17</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8e3bc8b9336_1.jpg</string>
			<key>comment</key>
			<string>37</string>
			<key>create_time</key>
			<string>2018-02-22 11:40:56</string>
			<key>created_at</key>
			<string>2018-02-22 14:30:40</string>
			<key>ding</key>
			<string>136</string>
			<key>favourite</key>
			<string>24</string>
			<key>hate</key>
			<string>17</string>
			<key>height</key>
			<string>5259</string>
			<key>id</key>
			<string>27254537</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8e3bc8b9336_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8e3bc8b9336_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8e3bc8b9336_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>136</string>
			<key>name</key>
			<string>二肉肉</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 14:30:40</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/11/21/5a13f1b797f71_mini.jpg</string>
			<key>repost</key>
			<string>19</string>
			<key>screen_name</key>
			<string>二肉肉</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519281040</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>最强拼假攻略来啦！最多可连休16天！</string>
			<key>theme_id</key>
			<string>58240</string>
			<key>theme_name</key>
			<string>搞笑图片</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>20098481</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.zk111.com.cn/share/27254537.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>800</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>3</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>16</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8e3d5469338.gif</string>
			<key>comment</key>
			<string>66</string>
			<key>create_time</key>
			<string>2018-02-22 11:47:32</string>
			<key>created_at</key>
			<string>2018-02-22 14:06:01</string>
			<key>ding</key>
			<string>235</string>
			<key>favourite</key>
			<string>3</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8e3d5469338_a_1.jpg</string>
			<key>hate</key>
			<string>16</string>
			<key>height</key>
			<string>320</string>
			<key>id</key>
			<string>27254562</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8e3d5469338.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8e3d5469338.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8e3d5469338.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>235</string>
			<key>name</key>
			<string>幽默搞笑GIF图</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 14:06:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/03/28/58d9cf7ba2de4_mini.jpg</string>
			<key>repost</key>
			<string>9</string>
			<key>screen_name</key>
			<string>幽默搞笑GIF图</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519279561</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>这就尴尬了，新婚之夜床塌了……</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>15797873</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.winapp111.net/share/27254562.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>189</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>82</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>39</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8df2dfa2bec_1.jpg</string>
			<key>comment</key>
			<string>32</string>
			<key>create_time</key>
			<string>2018-02-22 06:29:51</string>
			<key>created_at</key>
			<string>2018-02-22 13:40:01</string>
			<key>ding</key>
			<string>253</string>
			<key>favourite</key>
			<string>82</string>
			<key>hate</key>
			<string>39</string>
			<key>height</key>
			<string>4845</string>
			<key>id</key>
			<string>27254038</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8df2dfa2bec_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8df2dfa2bec_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/22/5a8df2dfa2bec_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>253</string>
			<key>name</key>
			<string>大行小言</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 13:40:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/10/27/59f3571e12c4d_mini.jpg</string>
			<key>repost</key>
			<string>19</string>
			<key>screen_name</key>
			<string>大行小言</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519278001</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>果然，还是我们太浅薄了~</string>
			<key>theme_id</key>
			<string>58240</string>
			<key>theme_name</key>
			<string>搞笑图片</string>
			<key>ding - 2</key>
			<string>235</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>13297575</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.winapp111.net/share/27254038.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>766</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>18</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>22</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/04/24/58fdefd7a9ce8_1.jpg</string>
			<key>comment</key>
			<string>36</string>
			<key>create_time</key>
			<string>2017-04-24 20:30:15</string>
			<key>created_at</key>
			<string>2018-02-22 13:14:02</string>
			<key>ding</key>
			<string>368</string>
			<key>favourite</key>
			<string>18</string>
			<key>hate</key>
			<string>22</string>
			<key>height</key>
			<string>1229</string>
			<key>id</key>
			<string>24713191</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/04/24/58fdefd7a9ce8_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/04/24/58fdefd7a9ce8_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/04/24/58fdefd7a9ce8_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>368</string>
			<key>name</key>
			<string>喒你家玻璃</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 13:14:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/09/29/57ec70bf1adcb_mini.jpg</string>
			<key>repost</key>
			<string>9</string>
			<key>screen_name</key>
			<string>喒你家玻璃</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519276442</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>当你拥有自由驰骋的灵魂却仍然跟你妈住在一起！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>18809558</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.zk111.cn/share/24713191.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>960</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>6</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>17</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/09/19/59c090ba7144e.gif</string>
			<key>comment</key>
			<string>89</string>
			<key>create_time</key>
			<string>2017-09-19 11:36:26</string>
			<key>created_at</key>
			<string>2018-02-22 12:48:02</string>
			<key>ding</key>
			<string>396</string>
			<key>favourite</key>
			<string>6</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/09/19/59c090ba7144e_a_1.jpg</string>
			<key>hate</key>
			<string>17</string>
			<key>height</key>
			<string>334</string>
			<key>id</key>
			<string>26381519</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/09/19/59c090ba7144e.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/09/19/59c090ba7144e.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2017/09/19/59c090ba7144e.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>396</string>
			<key>name</key>
			<string>原生君</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 12:48:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/09/22/57e3d9083f5e3_mini.jpg</string>
			<key>repost</key>
			<string>7</string>
			<key>screen_name</key>
			<string>原生君</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519274882</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>今儿跑滴滴，拉了三个与众不同的大人物，我该做什么才能和他们一直保持联系</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>18614232</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.winapp111.mobi/share/26381519.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>252</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>32</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>44</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8ccbb4f400c.gif</string>
			<key>comment</key>
			<string>65</string>
			<key>create_time</key>
			<string>2018-02-21 09:30:28</string>
			<key>created_at</key>
			<string>2018-02-22 12:22:02</string>
			<key>ding</key>
			<string>399</string>
			<key>favourite</key>
			<string>32</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8ccbb4f400c_a_1.jpg</string>
			<key>hate</key>
			<string>44</string>
			<key>height</key>
			<string>302</string>
			<key>id</key>
			<string>27251761</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8ccbb4f400c.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8ccbb4f400c.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8ccbb4f400c.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>399</string>
			<key>name</key>
			<string>原生君</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 12:22:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/09/22/57e3d9083f5e3_mini.jpg</string>
			<key>repost</key>
			<string>26</string>
			<key>screen_name</key>
			<string>原生君</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519273322</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>如何在瞬间把肚子上的肉转移到胸上</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>18614232</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.winapp111.com.cn/share/27251761.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>234</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>72</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>54</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8cfa365d6e6_1.jpg</string>
			<key>comment</key>
			<string>40</string>
			<key>create_time</key>
			<string>2018-02-21 12:48:54</string>
			<key>created_at</key>
			<string>2018-02-22 11:56:01</string>
			<key>ding</key>
			<string>575</string>
			<key>favourite</key>
			<string>72</string>
			<key>hate</key>
			<string>54</string>
			<key>height</key>
			<string>13845</string>
			<key>id</key>
			<string>27252146</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8cfa365d6e6_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8cfa365d6e6_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8cfa365d6e6_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>575</string>
			<key>name</key>
			<string>臭宝蛋蛋</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 11:56:01</string>
			<key>profile_image</key>
			<string>http://tva4.sinaimg.cn/crop.0.0.996.996.50/e7f9e94djw8f6ursgyso3j20ro0rp0wy.jpg</string>
			<key>repost</key>
			<string>69</string>
			<key>screen_name</key>
			<string>臭宝蛋蛋</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519271761</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>哈哈哈哈哈～中华大地无数被医生工作耽误了的段子手啊</string>
			<key>theme_id</key>
			<string>56779</string>
			<key>theme_name</key>
			<string>都是大奇葩</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>19531820</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.winapp111.cn/share/27252146.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>1080</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>8</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>45</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d681997815_1.jpg</string>
			<key>comment</key>
			<string>30</string>
			<key>create_time</key>
			<string>2018-02-21 20:37:45</string>
			<key>created_at</key>
			<string>2018-02-22 11:30:01</string>
			<key>ding</key>
			<string>248</string>
			<key>favourite</key>
			<string>8</string>
			<key>hate</key>
			<string>45</string>
			<key>height</key>
			<string>4894</string>
			<key>id</key>
			<string>27253151</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d681997815_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d681997815_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d681997815_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>248</string>
			<key>name</key>
			<string>臭宝蛋蛋</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 11:30:01</string>
			<key>profile_image</key>
			<string>http://tva4.sinaimg.cn/crop.0.0.996.996.50/e7f9e94djw8f6ursgyso3j20ro0rp0wy.jpg</string>
			<key>repost</key>
			<string>22</string>
			<key>screen_name</key>
			<string>臭宝蛋蛋</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519270201</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>大年初七，不光是节后上班第一天，还是个重要的日子呐</string>
			<key>theme_id</key>
			<string>3500</string>
			<key>theme_name</key>
			<string>社会百态</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>19531820</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.zk111.net/share/27253151.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>59</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>54</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/19/5a8a7328c2cfc.gif</string>
			<key>comment</key>
			<string>167</string>
			<key>create_time</key>
			<string>2018-02-19 14:48:08</string>
			<key>created_at</key>
			<string>2018-02-22 11:04:01</string>
			<key>ding</key>
			<string>348</string>
			<key>favourite</key>
			<string>59</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/19/5a8a7328c2cfc_a_1.jpg</string>
			<key>hate</key>
			<string>54</string>
			<key>height</key>
			<string>296</string>
			<key>id</key>
			<string>27247427</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/19/5a8a7328c2cfc.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/19/5a8a7328c2cfc.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/19/5a8a7328c2cfc.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>348</string>
			<key>name</key>
			<string>黑皮咪咪眼</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 11:04:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/06/27/577119b7d372e_mini.jpg</string>
			<key>repost</key>
			<string>6</string>
			<key>screen_name</key>
			<string>黑皮咪咪眼</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519268641</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>姐夫们，我老家的房子刚盖好，也装修好了，总觉得院子的围墙矮了，我该加高多少才安全？</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>18682920</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.winapp111.mobi/share/27247427.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>180</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>21</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>127</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d2178d3947_1.jpg</string>
			<key>comment</key>
			<string>185</string>
			<key>create_time</key>
			<string>2018-02-21 15:36:24</string>
			<key>created_at</key>
			<string>2018-02-22 10:38:02</string>
			<key>ding</key>
			<string>485</string>
			<key>favourite</key>
			<string>21</string>
			<key>hate</key>
			<string>127</string>
			<key>height</key>
			<string>7347</string>
			<key>id</key>
			<string>27252501</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d2178d3947_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d2178d3947_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d2178d3947_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>485</string>
			<key>name</key>
			<string>臭宝蛋蛋</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 10:38:02</string>
			<key>profile_image</key>
			<string>http://tva4.sinaimg.cn/crop.0.0.996.996.50/e7f9e94djw8f6ursgyso3j20ro0rp0wy.jpg</string>
			<key>repost</key>
			<string>38</string>
			<key>screen_name</key>
			<string>臭宝蛋蛋</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519267082</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>卧槽，现在结婚是不是已经晚了 ！</string>
			<key>theme_id</key>
			<string>56779</string>
			<key>theme_name</key>
			<string>都是大奇葩</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>19531820</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.winapp111.com.cn/share/27252501.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>10</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>64</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8ce7587aa2c.gif</string>
			<key>comment</key>
			<string>83</string>
			<key>create_time</key>
			<string>2018-02-21 11:28:24</string>
			<key>created_at</key>
			<string>2018-02-22 10:12:01</string>
			<key>ding</key>
			<string>330</string>
			<key>favourite</key>
			<string>10</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8ce7587aa2c_a_1.jpg</string>
			<key>hate</key>
			<string>64</string>
			<key>height</key>
			<string>320</string>
			<key>id</key>
			<string>27252012</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8ce7587aa2c.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8ce7587aa2c.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8ce7587aa2c.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>330</string>
			<key>name</key>
			<string>幽默搞笑GIF图</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 10:12:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/03/28/58d9cf7ba2de4_mini.jpg</string>
			<key>repost</key>
			<string>12</string>
			<key>screen_name</key>
			<string>幽默搞笑GIF图</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519265521</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>这是你们想要的小细腿吗？</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>15797873</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.winapp111.com/share/27252012.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>189</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>10</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>72</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d2678719cd.gif</string>
			<key>comment</key>
			<string>174</string>
			<key>create_time</key>
			<string>2018-02-21 15:57:44</string>
			<key>created_at</key>
			<string>2018-02-22 09:46:01</string>
			<key>ding</key>
			<string>406</string>
			<key>favourite</key>
			<string>10</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d2678719cd_a_1.jpg</string>
			<key>hate</key>
			<string>72</string>
			<key>height</key>
			<string>320</string>
			<key>id</key>
			<string>27252529</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d2678719cd.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d2678719cd.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d2678719cd.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>406</string>
			<key>name</key>
			<string>幽默搞笑GIF图</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 09:46:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/03/28/58d9cf7ba2de4_mini.jpg</string>
			<key>repost</key>
			<string>7</string>
			<key>screen_name</key>
			<string>幽默搞笑GIF图</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519263961</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>今天相亲，男方见我就跑了！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>15797873</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.budejie.com/share/27252529.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>193</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>27</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>52</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d8a6e2ad9d.gif</string>
			<key>comment</key>
			<string>164</string>
			<key>create_time</key>
			<string>2018-02-21 23:04:14</string>
			<key>created_at</key>
			<string>2018-02-22 09:20:02</string>
			<key>ding</key>
			<string>1010</string>
			<key>favourite</key>
			<string>27</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d8a6e2ad9d_a_1.jpg</string>
			<key>hate</key>
			<string>52</string>
			<key>height</key>
			<string>256</string>
			<key>id</key>
			<string>27253589</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d8a6e2ad9d.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d8a6e2ad9d.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d8a6e2ad9d.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>1010</string>
			<key>name</key>
			<string>搞笑强仔</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 09:20:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2018/02/07/5a7b0cbe0fe95_mini.jpg</string>
			<key>repost</key>
			<string>3</string>
			<key>screen_name</key>
			<string>搞笑强仔</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519262402</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>偷拍她时候被她发现了 竟然对我笑了 我该怎么办</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>20986392</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.zk111.com.cn/share/27253589.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>171</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>25</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>39</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8ccb1034285.gif</string>
			<key>comment</key>
			<string>85</string>
			<key>create_time</key>
			<string>2018-02-21 09:27:44</string>
			<key>created_at</key>
			<string>2018-02-22 09:19:04</string>
			<key>ding</key>
			<string>529</string>
			<key>favourite</key>
			<string>25</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8ccb1034285_a_1.jpg</string>
			<key>hate</key>
			<string>39</string>
			<key>height</key>
			<string>302</string>
			<key>id</key>
			<string>27251750</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8ccb1034285.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8ccb1034285.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8ccb1034285.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>529</string>
			<key>name</key>
			<string>原生君</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 09:19:04</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/09/22/57e3d9083f5e3_mini.jpg</string>
			<key>repost</key>
			<string>28</string>
			<key>screen_name</key>
			<string>原生君</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519262344</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>炮火连天夜，怨愁哀歌唱，啥也不说了，开市大吉吧</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>18614232</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.zk111.net/share/27251750.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>234</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>26</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>69</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d2e7b5e8e2_1.jpg</string>
			<key>comment</key>
			<string>241</string>
			<key>create_time</key>
			<string>2018-02-21 16:31:55</string>
			<key>created_at</key>
			<string>2018-02-22 08:54:01</string>
			<key>ding</key>
			<string>566</string>
			<key>favourite</key>
			<string>26</string>
			<key>hate</key>
			<string>69</string>
			<key>height</key>
			<string>3456</string>
			<key>id</key>
			<string>27252568</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d2e7b5e8e2_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d2e7b5e8e2_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d2e7b5e8e2_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>566</string>
			<key>name</key>
			<string>撩人不撩心i</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 08:54:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2018/02/19/5a8ad185ef558_mini.jpg</string>
			<key>repost</key>
			<string>5</string>
			<key>screen_name</key>
			<string>撩人不撩心i</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519260841</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>现在老师都这么好看了么</string>
			<key>theme_id</key>
			<string>56779</string>
			<key>theme_name</key>
			<string>都是大奇葩</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>7008091</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.zk111.net/share/27252568.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>864</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>19</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>58</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d3b76dff4a_1.jpg</string>
			<key>comment</key>
			<string>203</string>
			<key>create_time</key>
			<string>2018-02-21 17:27:18</string>
			<key>created_at</key>
			<string>2018-02-22 08:28:02</string>
			<key>ding</key>
			<string>841</string>
			<key>favourite</key>
			<string>19</string>
			<key>hate</key>
			<string>58</string>
			<key>height</key>
			<string>1060</string>
			<key>id</key>
			<string>27252742</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d3b76dff4a_1.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d3b76dff4a_1.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/ugc/2018/02/21/5a8d3b76dff4a_1.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>841</string>
			<key>name</key>
			<string>黑糖不苦</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2018-02-22 08:28:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/12/16/5a348ab311eba_mini.jpg</string>
			<key>repost</key>
			<string>46</string>
			<key>screen_name</key>
			<string>黑糖不苦</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1519259282</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>大娘！咱一定要坚持住，胜利就在前方</string>
			<key>theme_id</key>
			<string>3500</string>
			<key>theme_name</key>
			<string>社会百态</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>20272202</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.budejie.com/share/27252742.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>720</string>
		</dict>
	</array>
</dict>
</plist>
