<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>square_list</key>
	<array>
		<dict>
			<key>android</key>
			<string></string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150532_5078.png</string>
			<key>id</key>
			<string>28</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>审帖</string>
			<key>url</key>
			<string>mod://BDJ_To_Check</string>
		</dict>
		<dict>
			<key>android</key>
			<string>9.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/04/18/dDjZck.jpg</string>
			<key>id</key>
			<string>136</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>4.2|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>审帖</string>
			<key>url</key>
			<string>mod://BDJ_To_Check</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/04/18/g8L1_u.jpg</string>
			<key>id</key>
			<string>137</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>4.2|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>排行榜</string>
			<key>url</key>
			<string>mod://BDJ_To_RankingList</string>
		</dict>
		<dict>
			<key>android</key>
			<string>9.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/04/19/VjafYH.jpg</string>
			<key>id</key>
			<string>144</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>10.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>审帖</string>
			<key>url</key>
			<string>mod://BDJ_To_Check</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/04/18/zFKyGM.jpg</string>
			<key>id</key>
			<string>138</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>4.2|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>我的收藏</string>
			<key>url</key>
			<string>mod://BDJ_To_Mine@dest=2</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/07/06/p0VaKL.jpg</string>
			<key>id</key>
			<string>151</string>
			<key>ipad</key>
			<string>1.0|</string>
			<key>iphone</key>
			<string>3.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>内容贡献榜</string>
			<key>url</key>
			<string>http://m.budejie.com/user/credit.html?from=singlemessage&amp;isappinstalled=0</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.8.1|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2017/09/06/_z8EK8.jpg</string>
			<key>id</key>
			<string>164</string>
			<key>ipad</key>
			<string>100.0|</string>
			<key>iphone</key>
			<string>100.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>动态视频桌面</string>
			<key>url</key>
			<string>mod://BDJ_To_WallPaper</string>
		</dict>
		<dict>
			<key>android</key>
			<string>|6.2.3</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150601_1961.png</string>
			<key>id</key>
			<string>31</string>
			<key>ipad</key>
			<string>|</string>
			<key>iphone</key>
			<string>|3.8.01</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>每日排行</string>
			<key>url</key>
			<string>mod://BDJ_To_RecentHot</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.2.4|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/12/11/094131_3938.png</string>
			<key>id</key>
			<string>46</string>
			<key>ipad</key>
			<string>3.8|1.0</string>
			<key>iphone</key>
			<string>3.9|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>排行榜</string>
			<key>url</key>
			<string>mod://BDJ_To_RankingList</string>
		</dict>
		<dict>
			<key>android</key>
			<string>3.8.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150609_9589.png</string>
			<key>id</key>
			<string>48</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>我的收藏</string>
			<key>url</key>
			<string>mod://BDJ_To_Mine@dest=2</string>
		</dict>
		<dict>
			<key>android</key>
			<string>5.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/23/182756_5328.png</string>
			<key>id</key>
			<string>55</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>3.3|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>随机穿越</string>
			<key>url</key>
			<string>mod://BDJ_To_Cate@cate=3#type=0</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/04/18/tTaJLV.jpg</string>
			<key>id</key>
			<string>139</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>4.2|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>随机穿越</string>
			<key>url</key>
			<string>mod://BDJ_To_Cate@cate=3#type=0</string>
		</dict>
		<dict>
			<key>android</key>
			<string>|5.9</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150548_7833.png</string>
			<key>id</key>
			<string>34</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>|3.5</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>我的帖子</string>
			<key>url</key>
			<string>mod://BDJ_To_Mine@dest=1</string>
		</dict>
		<dict>
			<key>android</key>
			<string>|6.0</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150641_4341.png</string>
			<key>id</key>
			<string>35</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>|4.2</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>搜索</string>
			<key>url</key>
			<string>mod://App_To_SearchUser</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/02/15/150052_5490.png</string>
			<key>id</key>
			<string>87</string>
			<key>ipad</key>
			<string>1.0|3.8.2</string>
			<key>iphone</key>
			<string>|4.1</string>
			<key>market</key>
			<string>guanwang|tencentyingyongbao|360zhushou|baidu|B—huawei|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi|yingyongbao|b-huawei|b-meizu|b-leshi|s-samsung|anzhi|c-jinli|b-chuizi|b-aiqiyi</string>
			<key>name</key>
			<string>游戏大厅</string>
			<key>url</key>
			<string>http://www.curlend.com/?d=20170718&amp;device=budejie&amp;appname=budejie&amp;channelid=199&amp;spid=5</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.7.8|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/01/14/112726_8635.png</string>
			<key>id</key>
			<string>116</string>
			<key>ipad</key>
			<string>1.0|3.8.2</string>
			<key>iphone</key>
			<string>11.0|</string>
			<key>market</key>
			<string>tencentyingyongbao|360zhushou|b-huawei|taobao|xiaomi|b-meizu|anzhi|leshangdian|sougousjzs|wandoujia|c-oppo|b-vivo|b-leshi|s-samsung|c-jinli|b-chuizi|guanwang</string>
			<key>name</key>
			<string>美女直播</string>
			<key>url</key>
			<string>mod://BDJ_To_SixRooms</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.5.8|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/04/18/Oj6QPj.jpg</string>
			<key>id</key>
			<string>141</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>4.2|4.5.8</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>搜索</string>
			<key>url</key>
			<string>mod://App_To_SearchUser</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/07/06/193140_3393.png</string>
			<key>id</key>
			<string>82</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>3.0|4.1</string>
			<key>market</key>
			<string>guanwang|tencentyingyongbao|360zhushou|baidu|B—huawei|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi|yingyongbao|b-huawei|b-meizu|b-leshi|s-samsung|anzhi|c-jinli|b-chuizi|b-aiqiyi</string>
			<key>name</key>
			<string>彩铃</string>
			<key>url</key>
			<string>http://m.diyring.cc/friend/48bbbb4128a41b27</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/02/15/150558_9138.png</string>
			<key>id</key>
			<string>95</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>6.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>看小说</string>
			<key>url</key>
			<string>http://m.kingreader.com/Class/List1/bsapp.chtml?tgid=6988141</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2017/12/22/2cn8K2.jpg</string>
			<key>id</key>
			<string>113</string>
			<key>ipad</key>
			<string>1.0|3.8.2</string>
			<key>iphone</key>
			<string>3.0|4.1.1</string>
			<key>market</key>
			<string>guanwang|tencentyingyongbao|360zhushou|baidu|B—huawei|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi|yingyongbao|b-huawei|b-meizu|b-leshi|s-samsung|anzhi|c-jinli|b-chuizi|b-aiqiyi</string>
			<key>name</key>
			<string>一刀传奇</string>
			<key>url</key>
			<string>http://download.6c6c.com/wzcq/wzcq_12823.apk</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/10/25/P6OUVr.jpg</string>
			<key>id</key>
			<string>102</string>
			<key>ipad</key>
			<string>6.0|</string>
			<key>iphone</key>
			<string>3.0|4.1</string>
			<key>market</key>
			<string>guanwang|tencentyingyongbao|360zhushou|baidu|B—huawei|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi|yingyongbao|b-huawei|b-meizu|b-leshi|s-samsung|anzhi|c-jinli|b-chuizi|b-aiqiyi</string>
			<key>name</key>
			<string>超人塔防</string>
			<key>url</key>
			<string>http://h5.duantian.cn/open/index.html?device=budejie&amp;channelid=203&amp;spid=5#100090</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.8.2|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2014/06/24/142251_8780.png</string>
			<key>id</key>
			<string>38</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>4.6.0|4.6</string>
			<key>market</key>
			<string>guanwang|tencentyingyongbao|360zhushou|c-oppo|B—huawei|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi|yingyongbao|b-huawei|b-meizu|b-leshi|s-samsung|anzhi|c-jinli|b-chuizi|b-aiqiyi|b-vivo</string>
			<key>name</key>
			<string>热门小说</string>
			<key>url</key>
			<string>mod://BDJ_To_HuaXiReader</string>
		</dict>
		<dict>
			<key>android</key>
			<string>2.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/12/23/092659_3690.png</string>
			<key>id</key>
			<string>85</string>
			<key>ipad</key>
			<string>6.0|</string>
			<key>iphone</key>
			<string>3.0|4.1</string>
			<key>market</key>
			<string>guanwang|tencentyingyongbao|360zhushou|baidu|B—huawei|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi|yingyongbao|b-huawei|b-meizu|b-leshi|s-samsung|anzhi|c-jinli|b-chuizi|b-aiqiyi</string>
			<key>name</key>
			<string>传世H5</string>
			<key>url</key>
			<string>http://h5.mobo168.com/open/index.html?device=budejie&amp;channelid=203&amp;spid=5#100004</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/04/18/M9szJI.jpg</string>
			<key>id</key>
			<string>140</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>3.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>意见反馈</string>
			<key>url</key>
			<string>http://m.d.budejie.com/feedback/index.html</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.6.2|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/12/30/jeGT_O.jpg</string>
			<key>id</key>
			<string>160</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>4.5.1|4.5.8</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>百思交友</string>
			<key>url</key>
			<string>http://d.api.budejie.com/square/login/?next=msite</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.8.2|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2017/09/20/UQQKCU.jpg</string>
			<key>id</key>
			<string>165</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string>tencentyingyongbao</string>
			<key>name</key>
			<string>游戏会员区</string>
			<key>url</key>
			<string>http://m.budejie.com/partner/migugame.html</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/04/13/180139_7578.png</string>
			<key>id</key>
			<string>60</string>
			<key>ipad</key>
			<string>2.9|</string>
			<key>iphone</key>
			<string>10.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>美女直播</string>
			<key>url</key>
			<string>mod://BDJ_To_SixRooms</string>
		</dict>
		<dict>
			<key>android</key>
			<string>5.9.9|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/07/30/172608_7159.png</string>
			<key>id</key>
			<string>83</string>
			<key>ipad</key>
			<string>100.0|</string>
			<key>iphone</key>
			<string>10.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>下载视频</string>
			<key>url</key>
			<string>mod://App_To_MyVideo</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.7.4|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/02/02/170412_6546.png</string>
			<key>id</key>
			<string>122</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>4.5.9|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>百思会员</string>
			<key>url</key>
			<string>mod://BDJ_To_VipPay</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/03/07/170703_9383.png</string>
			<key>id</key>
			<string>126</string>
			<key>ipad</key>
			<string>1.0|3.8.2</string>
			<key>iphone</key>
			<string>6.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>办卡有礼</string>
			<key>url</key>
			<string>https://ccclub.cmbchina.com/mca/MPrecontract.aspx?cardsel=1110&amp;swbrief=y&amp;WT.mc_id=N3700MM2061I323700YL</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/03/23/192041_1270.png</string>
			<key>id</key>
			<string>129</string>
			<key>ipad</key>
			<string>6.0|</string>
			<key>iphone</key>
			<string>3.0|4.1</string>
			<key>market</key>
			<string>guanwang|tencentyingyongbao|360zhushou|baidu|B—huawei|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi</string>
			<key>name</key>
			<string>呆呆忍者村</string>
			<key>url</key>
			<string>http://h5.duantian.cn/open/index.html?spid=5&amp;device=budejie&amp;gameid=1211#100027</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/06/13/16opSP.jpg</string>
			<key>id</key>
			<string>130</string>
			<key>ipad</key>
			<string>6.0|</string>
			<key>iphone</key>
			<string>3.0|4.1</string>
			<key>market</key>
			<string>guanwang|tencentyingyongbao|360zhushou|baidu|B—huawei|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi|yingyongbao|b-huawei|b-meizu|b-leshi|s-samsung|anzhi|c-jinli|b-chuizi|b-aiqiyi</string>
			<key>name</key>
			<string>爬塔三国</string>
			<key>url</key>
			<string>http://h5.duantian.cn/open/index.html?channelid=203&amp;spid=5 &amp;device=budejie#100026</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/06/29/8d_fP0.jpg</string>
			<key>id</key>
			<string>131</string>
			<key>ipad</key>
			<string>6.0|</string>
			<key>iphone</key>
			<string>3.0|4.1</string>
			<key>market</key>
			<string>guanwang|tencentyingyongbao|360zhushou|baidu|B—huawei|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi</string>
			<key>name</key>
			<string>暗黑之王</string>
			<key>url</key>
			<string>http://h5.duantian.cn/open/index.html?spid=5&amp;device=budejie#100046</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/06/29/8HPp1H.jpg</string>
			<key>id</key>
			<string>134</string>
			<key>ipad</key>
			<string>6.0|</string>
			<key>iphone</key>
			<string>3.0|4.1</string>
			<key>market</key>
			<string>guanwang|tencentyingyongbao|360zhushou|baidu|B—huawei|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi</string>
			<key>name</key>
			<string>大主宰</string>
			<key>url</key>
			<string>http://h5.duantian.cn/open/index.html?spid=5&amp;device=budejie#100015</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.7.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2017/03/03/0iOxqq.jpg</string>
			<key>id</key>
			<string>149</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>4.9|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>联通免流量</string>
			<key>url</key>
			<string>mod://BDJ_To_FreeTraffic</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/08/26/vF9w8T.jpg</string>
			<key>id</key>
			<string>153</string>
			<key>ipad</key>
			<string>1.0|</string>
			<key>iphone</key>
			<string>4.6.8|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>头条新闻</string>
			<key>url</key>
			<string>mod://BDJ_To_360News</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/10/15/xaN_97.jpg</string>
			<key>id</key>
			<string>154</string>
			<key>ipad</key>
			<string>1.0|</string>
			<key>iphone</key>
			<string>3.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>百思帮派</string>
			<key>url</key>
			<string>http://d.api.budejie.com/gang/enter/</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/12/22/150447_7355.png</string>
			<key>id</key>
			<string>159</string>
			<key>ipad</key>
			<string>3.0|4.0</string>
			<key>iphone</key>
			<string>3.0|4.0</string>
			<key>market</key>
			<string>guanwang|tencentyingyongbao|360zhushou|baidu|B—huawei|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi|yingyongbao|b-huawei|b-meizu|b-leshi|s-samsung|anzhi|c-jinli|b-chuizi|b-aiqiyi</string>
			<key>name</key>
			<string>产品体验官</string>
			<key>url</key>
			<string>mod://App_To_ActivityDetail@id=42835</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.7.3|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2017/07/07/kgVnDv.jpg</string>
			<key>id</key>
			<string>161</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>10.0|</string>
			<key>market</key>
			<string>c-oppo</string>
			<key>name</key>
			<string>游戏大厅公告</string>
			<key>url</key>
			<string>http://h5.duantian.cn/apptip.html?123</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.7.3|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2017/07/12/BtaWlt.jpg</string>
			<key>id</key>
			<string>162</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>10.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>咪咕悦读会</string>
			<key>url</key>
			<string>http://m.budejie.com/partner/migu.html</string>
		</dict>
		<dict>
			<key>android</key>
			<string></string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2014/05/06/141211_3901.png</string>
			<key>id</key>
			<string>0</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>更多</string>
			<key>url</key>
			<string></string>
		</dict>
	</array>
	<key>tag_list</key>
	<array>
		<dict>
			<key>theme_id</key>
			<string>3096</string>
			<key>theme_name</key>
			<string>红人频道</string>
		</dict>
		<dict>
			<key>theme_id</key>
			<string>9</string>
			<key>theme_name</key>
			<string>自拍交友</string>
		</dict>
	</array>
</dict>
</plist>
